
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,600" rel="stylesheet" type="text/css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
</head>



<style type="text/css">
    body {  
      padding: 16px;
      background-color: #e8e8e8;
    }
    
    
    /* See http://www.chartjs.org/docs/latest/general/responsive.html */
    .chart-container {
      position: relative;
      height: 100%;
      width: 100%;
    }
    
    .isResizable {
      background-color: #ffffff;
      /* margin-left: 0 auto; */
      padding: 5px;
      border: 1px solid #d8d8d8;
      overflow: hidden;
      /* Not usable in IE */
      /* resize: both; */
      
      width: 1000px;
      height: 400px;
      min-width: 280px;
      min-height: 280px;
      max-width: 1200px;
      max-height: 600px;
    }
    
    #updateChart {
        background: white;
        border: 1px solid #d8d8d8;
        width: 160px;
        padding: 10px;
    }
    </style>


<h1></h1>
<body>

        <div class="card card-body" style="background-color:#c7e9f7;">
        <form method="get" class="row row-cols-lg-auto g-3 align-items-center">
  
          <div class="col-md-4">
            <div class="input-group">
              <label class="input-group-text" for="state">Select State :</label>
              <select class="form-select" id="state" name="state">
                <option value="">All</option>
                    {% for k,v in states.items %}
      
                  <option value="{{v}}" {% if request.GET.state == v  %} selected {% endif %}>{{k}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group">
              
              <label class="input-group-text" for="">Select date :</label>

                <input type="date" id="date" name="date">
              
              
  
        
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-group">
            <label class="input-group-text" for="state">Select Forecast Types :</label>
          <select class="select_field_class" multiple="multiple" name="ftype" id="ftype">
            <option value="">Select Forecast Type</option>
            {% for f in fcast_types %}
               <option value="{{ f}}"  {% if request.GET.ftype == f  %} selected {% endif %} >{{ f}}</option>
            {% endfor %}
          </select>
           </div>
           </div>
           <script type='text/javascript'> $('.select_field_class').select2( { placeholder: "Select here", maximumSelectionSize: 100  } );</script>
         
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Apply</button>
            {% comment %} <a href="{% url 'assessments:questions_all' %}" class="btn btn-secondary">Clear</a> {% endcomment %}
          </div>
        </form>
      </div>
    

    
      <div class="row">
        <div class="col-sm-6" style="background-color:lavenderblush;">
            <div class="isResizable" >
              <div class="chart-container">
                <canvas id="chart2" width="500" height="500"></canvas>
              </div>
            </div>
        </div>
    </div>


    <br> <br> <br>
    <div class="row">
        <div class="col-sm-6" style="background-color:lavender;">
            <div class="isResizable">
          <div class="chart-container">
            <canvas id="chart1"></canvas>
          </div>
        </div>
        </div>
      </div>
    </div>
    <hr/>
    
   
    </body>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"> </script>


    <script type="text/javascript">
    let ctx = document.getElementById("chart2").getContext("2d"); 
    var block1;
    var c
    var config = {
        type: 'line',
        
        data: {
            labels:  {{blocks}},
            datasets: [{
                label: "{{request.GET.ftype}}",
                // fill: false,
                backgroundColor: ['transparent'],
                borderColor: ['red'],
                borderWidth: 1,
                data:{{tld_values}},
            }, {
                label: "pred_bagging",
                backgroundColor: ['transparent'],
                borderColor: ['blue'],
                // data:{{demands_second}},
                // fill: true,
            }]
        },
        options: {
            maintainAspectRatio: false,
            responsive: true,
            legend: {
                position: 'top'
            },
            title: {
                position: 'top',
                display: true,
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Blocks'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Demand'
                    }
                }]
            }
        }
    };

    new Chart(ctx, config)
    
    //Draw chart
    window.onload = function() {
    
        //chart 1
        var chart1 = document.getElementById("chart1").getContext("2d");
        config.type = 'bar';
        config.options.title.text = 'Resizable Bar Chart';
        window.myLine = new Chart(chart1, config);
    
        //chart 2
        var chart2 = document.getElementById("chart2").getContext("2d");
        config.type = 'line';
        config.options.title.text = 'Resizable Line Chart';
        window.myLine = new Chart(chart2, config);
    
         //chart 6
        var chart6 = document.getElementById("chart6").getContext("2d");
        config.type = 'radar';
        config.options.title.text = 'Resizable radar Chart';
        window.myLine = new Chart(chart6, config);    
    };
    
    //Update type of chart 
    $('#updateChart').click(function(e) {
        var chart = window.myLine;
        var types = ['line', 'bar', 'bubble', 'doughnut','polarArea','radar'];
      
        chart.config.type = types[Math.floor(Math.random()*3)];
        chart.destroy();
    
        var ctx = document.getElementById("chart").getContext("2d");
        window.myLine = new Chart(ctx, chart.config);
    });
    
    //Use JQUeryUI to resize the div with IE 11
    $(".isResizable").resizable();
    
    
    </script>